*{
    margin: 0;
    padding: 0;
}

.pai{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
    background-color: black;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
    
}

.itens {
    display: flex;
    width: 50vw;
    height: 50vh;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
}

.item{
    width: 50vw;
    height: 50vh;
    transition: all 1s;
}
.item:first-child{
    margin-left: -100%;
}
.itens img{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.button{
    font: bold 30px sans-serif;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none; /*para não aparecer o I*/
}
.button:hover{
    color: white;
    background-color: #00000055;/*cor transparente*/
    border-radius: 10px;
    cursor: pointer; /*curso mãozinha*/
    transition: all 1s; /*aparencendo lentamente*/
}